body {
      background:#9c9;
      text-align:center;
    }
    canvas {
      background:#9c9;
      -webkit-box-shadow:0 0 20px #000;
      -moz-box-shadow: 0 0 20px #000;
      box-shadow:0 0 20px #000;
    }
    h1 { font-family: 'Cabin Sketch', arial, serif; font-size:50px;
       text-indent: -100px;margin-bottom:20;margin-top:30px}
