#intro {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.clickarea{
  display: block;
  height:50%;
}

a { color: #000000;
  text-decoration: none;

}

li {
  text-align: center;
  padding: 5px;
}

#one:hover {
  background-color: black;
}
#two:hover{
  background-image: url('../images/Face.jpg');
  background-size: 105%;
  background-position: center;

}
#three:hover{
  background-image: url('../images/twitter.jpg');
  background-position: center;
}
#four:hover{
  background-color: black;
  color:white;
}
#five:hover{
  background-image: url('../images/Helpouts.png');
  background-repeat: no-repeat;
  background-position:center;
  
}
#six:hover{
  background-image: url('../images/linkedin.jpg');
  background-position: center;

}
#seven:hover{
  background-color: black;
  color:white;
}
#eight:hover {
  background-image: url("../images/mail.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

#nine:hover{
  background-image: url("../images/GitHub-Mark-120px-plus.png");
  background-repeat:no-repeat;
  background-position:center;
}

#ten:hover{
  background-image: url('../images/facebook.jpg');
  background-position: center;
}

#eleven:hover{
  background-image: url('../images/instagram.jpg');
  background-position: center;
}
#twelve:hover{
  background-color: black;
}

#twelve ol {
  list-style: none;
  color: white;
  position: center;
  display: inline;
}

#twelve ol li{
border: none;

}

#one:hover a {
color:transparent;
}
#two:hover a {
color:transparent;
}
#three:hover a {
color:transparent;
}
#four:hover a {
color:transparent;
}
#five:hover a {
color:transparent;
}
#six:hover a {
color:transparent;
}
#seven:hover a {
color:transparent;
}
#eight:hover a {
color:transparent;
}
#nine:hover a {
color:transparent;
}
#ten:hover a {
color:transparent;
}
#eleven:hover a {
color:transparent;
}
#twelve:hover a {
color:transparent;
}


